<div class="row">
  <div class="col">

    <%= form_with(model: task) do |form| %> 
      <%= form.hidden_field :parent_id, 
        value: task.parent_id || params[:parent_id] %> 
        <!-- Campo escondido do id da tarefa pai, para associar lá no controller das tarefas a que tarefa determinada subtarefa pertence 
        * ele vai buscar esse atributo em task.parent_id(pegar o id de uma tarefa existente - no caso de uma subtarefa) ||(OU/OR) params[:parent_id](do parametros da url - no caso de uma nova tarefa)
        * Essa informação vai ser passada para o controller, então é necessário especificar esse atributo, para poder salvar (no método task_params) -->
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_field :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :due_date %>
        <%= form.date_select :due_date %>
      </div>

      <div class="form-group form-check"> <!-- "form-check" = Class do bootstrap para formulário com check box-->
        <%= form.check_box :done, class: "form-check-input" %> <!--"form-check-input" = Class do bootstrap para check box -->
        <%= form.label :done, class: "form-check-label" %> <!-- "form-check-label" = Class do bootstrap para o texto do check box -->
      </div>

      <%= form.submit class: "btn btn-info", data: { disable_with: "Salvando..." } %> <!--
      Flager(marcador) data { disable_with: "Salvando..."} = toda vez que submeter a a atualização ou a criação de uma tarefa, vai desabilitar o botão e vai aparecer "salvando" -->

      <%= link_to t(".cancel"), tasks_path, class: "btn btn-light" %> <!--Botão cancelar, volta para rota de tasks/tarefas-->
    <% end %>

  </div>
</div>
