<div class="row mb-2 linha-titulo-tarefa">

  <div class="col-8">
    <h1 class="display-4"> <%= t(".description_tasks") %> </h1> <!-- t(".description") = significa que foi feita a tradução nos arquivos -->
  </div>

  <div class="col-4 mt-4 text-right">
    <%= link_to t(".one_more_task"), new_task_path, class: "btn btn-info" %>
    <%= link_to t(".csv"), export_csv_tasks_path, class: "btn btn-success" %>
  </div>

</div>

<div class="row">
  <div class="col">

    <% if @tasks.any? %> <!--SE existir uma tarefa-->
      
      <table class="table table-borderless"> <!--table-borderless = remover bordar da tabela-->
        <thead> <!--Cabeçalho tabela-->
          <tr>
            <th> <%= t(".description") %> </th>
            <th> <%= t(".done") %> </th>
            <th></th>
          </tr>
        </thead>

        <tbody> <!--Corpo da tabela-->
          <% @tasks.each do |task| %> <!-- Fazer um loop de todas as tarefas pai que existem nessa variável que tá vindo do controller -->
            <%= render "table_row", task: task.decorate %> <!-- task: task = Passar como parâmetro a variável(variável do loop de task/tarefas). Para cada variável, renderizamos uma nova path/nova linha da tabela. -->

            <% task.sub_tasks.order(:due_date).each do |sub_task| %> <!-- Chamar o render novamente para cada uma das subtarefas; para isso fazemos um loop e para cada subtarefa que a tarefa tiver será renderizada mais uma linha na tabela. São dois loops, um dentro do outro, duas interações. -->
              <%= render "table_row", task: sub_task.decorate %> <!-- Na path table_row temos que especificar como ela deve diferenciar uma task de uma sub task-->
            <% end %>

          <% end %>
        </tbody>

      </table>

    <% else %> <!--SENÃO existir uma tarefa-->
      <p> <%= t(".no_tasks_registered") %> </p>
    <% end %>

  </div>
</div>
