<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Gerenciador de Tarefas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, message| %> <!-- Loop para exibir o array de mensagens(avisos) -->
      <div class="alert alert-<%= type == "alert" ? "danger" : "success" %> alert-dismissible fade show" role="alert"> <!--- A cor vai ser alterada de acordo com o tipo de mensagem: * darger para o tipo alert; * sucess para outros (notice) -->
        <%= message %> <!--Mensagem a ser exibida dinâmicamente-->
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
